@import url("https://fonts.googleapis.com/css2?family=Cinzel:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400&display=swap");

:root {
  --font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Cinzel", sans-serif;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-display: swap;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  background: linear-gradient(rgb(255 255 255 / 45%), rgba(255, 255, 255, 0.4)),
    url(./assets/img/map.webp?width=500);
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    background: linear-gradient(
        rgb(255 255 255 / 45%),
        rgba(255, 255, 255, 0.4)
      ),
      url(./assets/img/map.webp?width=800);
    background-size: cover;
  }
}
