@import url("https://fonts.googleapis.com/css2?family=Cinzel:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400&display=swap");

:root {
  --color: rgb(0, 0, 0);
  --secondary-color: rgb(255 141 0 / 30%);
  --contrast-color: rgb(255 141 0);
  --main-color: rgb(255, 0, 0);
  --form-color: rgb(242, 232, 228);
  --font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Cinzel", sans-serif;
  --scale-carousel: 1.1;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  background: linear-gradient(rgb(255 255 255 / 45%), rgba(255, 255, 255, 0.4)),
    url(./assets/img/map.webp?width=500);
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  box-shadow: 0 5px 5px 0px rgb(0 0 0 / 5%);
  position: sticky;
  top: 0px;
  height: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 11;
  .titleName {
    font-family: var(--secondary-font-family);
    font-weight: 700;
  }
  #non-responsive {
    display: none;
  }
  #responsive {
    display: flex;
    .hamburguer {
      background-image: url(assets/menu_black_24dp.svg);
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center;
      border: none;
      height: 40px;
      width: 40px;
      cursor: pointer;
      border-radius: 4px;
      display: inline;
    }
    .hamburguer:hover {
      background-color: var(--secondary-color);
    }
    .hamburguer:active {
      background-color: var(--contrast-color);
    }
    .overlay {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100%;
      background-color: black;
      transition: opacity 0.2s ease-in-out 0.2s;
      z-index: 50;
      opacity: 0.7 !important;
    }
    .sidenav {
      display: flex;
      flex-direction: column;
      position: fixed;
      height: 100vh;
      right: 0;
      top: 0;
      background-color: #ffffff;
      z-index: 100;
      padding: 30px 10px;
      transform: translateX(100vw);
      transition-property: transform, opacity;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      .closeContainer {
        display: flex;
        justify-content: flex-end;
        .close {
          background-image: url(assets/close_black_24dp.svg);
          background-repeat: no-repeat;
          background-color: transparent;
          background-position: center;
          border: none;
          height: 40px;
          width: 40px;
          cursor: pointer;
          border-radius: 4px;
          display: inline;
        }
        .close:hover {
          background-color: var(--secondary-color);
        }
        .close:active {
          background-color: var(--contrast-color);
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style-type: none;
        padding: 0;
        gap: 30px;
        li {
          align-self: center;
          display: flex;
          width: 100%;
          a {
            text-decoration: none;
            color: #000000;
            text-transform: uppercase;
            padding: 10px 20px;
            width: 100%;
            font-size: 16px;
          }
          :hover {
            background-color: var(--secondary-color);
            border-radius: 4px;
          }
          :active {
            background-color: var(--contrast-color) !important;
            border-radius: 4px !important;
            color: #ffffff;
          }
          .navSelected {
            font-weight: 700;
            border-bottom: 2px solid var(--contrast-color);
          }
        }
      }
    }
  }

  #logoContainer {
    height: 100%;
    display: flex;
    align-items: center;
    a {
      content: url("./assets/dragon.svg");
      height: 55px;
    }
  }
}
