@import "carbon-components/scss/components/list/list";
@import "carbon-components/scss/components/tabs/tabs";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400&display=swap");

:root {
  --color: rgb(0, 0, 0);
  --secondary-color: rgb(255 141 0 / 30%);
  --contrast-color: rgb(255 141 0);
  --main-color: rgb(255, 0, 0);
  --form-color: rgb(242, 232, 228);
  --font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Cinzel", sans-serif;
  --scale-carousel: 1.1;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  background: linear-gradient(rgb(255 255 255 / 45%), rgba(255, 255, 255, 0.4)),
    url(./assets/img/map.webp?width=500);
  background-size: cover;
}

/******** Navegation bar ********/
.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  box-shadow: 0 5px 5px 0px rgb(0 0 0 / 5%);
  position: sticky;
  top: 0px;
  height: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 10;
  .titleName {
    font-family: var(--secondary-font-family);
    font-weight: 700;
  }
  #non-responsive {
    display: none;
  }
  #responsive {
    display: flex;
    .hamburguer {
      background-image: url(assets/menu_black_24dp.svg);
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center;
      border: none;
      height: 40px;
      width: 40px;
      cursor: pointer;
      border-radius: 4px;
      display: inline;
    }
    .hamburguer:hover {
      background-color: var(--secondary-color);
    }
    .hamburguer:active {
      background-color: var(--contrast-color);
    }
    .overlay {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100%;
      background-color: black;
      transition: opacity 0.2s ease-in-out 0.2s;
      z-index: 50;
      opacity: 0.7 !important;
    }
    .sidenav {
      display: flex;
      flex-direction: column;
      position: fixed;
      height: 100vh;
      right: 0;
      top: 0;
      background-color: #ffffff;
      z-index: 100;
      padding: 30px 10px;
      transform: translateX(100vw);
      transition-property: transform, opacity;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      .closeContainer {
        display: flex;
        justify-content: flex-end;
        .close {
          background-image: url(assets/close_black_24dp.svg);
          background-repeat: no-repeat;
          background-color: transparent;
          background-position: center;
          border: none;
          height: 40px;
          width: 40px;
          cursor: pointer;
          border-radius: 4px;
          display: inline;
        }
        .close:hover {
          background-color: var(--secondary-color);
        }
        .close:active {
          background-color: var(--contrast-color);
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style-type: none;
        padding: 0;
        gap: 30px;
        li {
          align-self: center;
          display: flex;
          width: 100%;
          a {
            text-decoration: none;
            color: #000000;
            text-transform: uppercase;
            padding: 10px 20px;
            width: 100%;
            font-size: 16px;
          }
          :hover {
            background-color: var(--secondary-color);
            border-radius: 4px;
          }
          :active {
            background-color: var(--contrast-color) !important;
            border-radius: 4px !important;
            color: #ffffff;
          }
          .navSelected {
            font-weight: 700;
            border-bottom: 2px solid var(--contrast-color);
          }
        }
      }
    }
  }

  #logoContainer {
    height: 100%;
    display: flex;
    align-items: center;
    a {
      content: url("./assets/dragon.svg");
      height: 55px;
    }
  }
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

/******** Aside ********/
aside {
  margin: 20px;
  h3 {
    margin-bottom: 15px;
  }
}
/******** Main ********/
main {
  flex: 1 0 auto;
  width: inherit;
  height: 100%;
  padding: 20px;
}

#portada {
  .introContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    .imgContainer {
      height: 300px;
      max-width: 260px;
      display: flex;
      border-radius: 30px;
      width: 100%;
      margin: 0px 40px;
      img {
        width: 100%;
        height: 100%;
        clip-path: polygon(47% 12%, 96% 19%, 89% 76%, 51% 91%, 11% 77%, 5% 20%);
      }
    }
    .titleContainer {
      width: 85%;
      height: 100%;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 40px;
      padding: 30px 10px;
      h1 {
        font-family: var(--secondary-font-family);
        font-weight: 600;
        span {
          background-color: #000000;
        }
      }
      span {
        color: var(--contrast-color);
      }
      .containerQuote {
        background-color: rgba(255, 255, 255, 0.9);
        max-width: 400px;
        width: 100%;
        padding: 20px;
        border-radius: 4px;
        line-height: 1.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        blockquote {
          margin: 0;
          margin-bottom: 20px;
          font-style: italic;
        }
      }
    }
  }
}

#enlaces .linkContainer,
#categoria .categoryContainer,
#categoria article,
#presentacion section,
#details div,
#details article,
aside {
  background-color: #ffffff;
  border-radius: 4px;
}

#categoria .categoryContainer,
#presentacion .titleContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

#categoria {
  .categoryContainer {
    animation: fade-bottom 0.5s ease-in;
    img {
      max-width: 100%;
      width: 360px;
      height: 270px;
    }
  }
  article {
    animation: fade-bottom 0.5s ease-in;
    padding: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .listCat {
      margin: 0;
      margin-top: 20px;
      overflow: hidden;
      display: flex;
      gap: 30px;
      height: 400px;
      align-items: center;
      .btnList {
        width: fit-content;
        background-color: #d3d3d3;
        border-radius: 50px;
        height: fit-content;
        align-self: center;
        position: absolute;
        box-shadow: 0 0 0 1px #d3d3d3;
        opacity: 1;
        z-index: 10;
        cursor: pointer;
        &:active {
          box-shadow: 0 0 0 2px var(--contrast-color);
        }
        &.next {
          right: 60px;
        }
        &.disabled {
          opacity: 0.2;
          pointer-events: none;
          cursor: not-allowed;
        }
      }
      .elementCat {
        height: fit-content;
        opacity: 0.6;
        margin: 10px;
        min-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        box-shadow: 0px 0px 10px 6px rgb(0 0 0 / 12%);
        text-align: center;
        border-radius: 10px;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        --scale-carousel: 1;
        pointer-events: none;
        background-color: #ffffff;
        &.selected {
          opacity: 1;
          pointer-events: all;
          cursor: pointer;
        }
        &.selected:hover {
          --scale-carousel: 1.2;
        }
        &.notClickable {
          cursor: default;
        }
        p:last-child {
          pointer-events: none;
          background-color: var(--secondary-color);
          border-radius: 4px;
          padding: 10px;
          text-decoration: none;
        }
        img {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 100px;
          height: 145px;
        }
      }
    }
  }
}

a {
  color: black;
}
a:hover {
  color: var(--contrast-color);
}
a:active {
  color: var(--main-color);
  text-decoration-thickness: 2px;
}

.mobile-animation {
  animation: fade-bottom 0.5s ease-in;
}

#details {
  flex: auto;
  article {
    padding-bottom: 38px;
    margin-bottom: 0;
    h2 {
      align-self: center;
      text-align: center;
    }
    h2,
    p {
      margin-bottom: 15px;
    }
    .routingBooks {
      display: flex;
      justify-content: space-between;
    }
    .prevBook,
    .nextBook {
      margin-bottom: 20px;
    }
    .nextBook {
      align-self: flex-end;
      text-align: end;
    }
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

#about {
  padding: 40px;
  figure img {
    width: 100%;
    max-width: 200px;
  }
  .chapters {
    li:not(:last-child) {
      margin-bottom: 5px;
    }
    li {
      line-height: 1.5em;
    }
  }
}

article,
section {
  padding: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  p {
    color: #242424;
    line-height: 1.5em;
    font-size: 16px;
  }
}

figure {
  width: 100%;
  margin: 0;
  text-align: center;
  margin: 20px 0;
  figcaption {
    margin-top: 10px;
    font-size: 14px;
    cite {
      font-style: italic;
    }
  }
}

#presentacion {
  padding-bottom: 0;
  .titleContainer {
    h2 {
      text-align: center;
    }
    figure img {
      max-width: 360px;
      width: 100%;
    }
  }
  h2,
  p {
    margin-bottom: 15px;
  }
  .tabContainer {
    .animationDragonContainer {
      display: flex;
      justify-content: center;
      svg {
        height: 140px;
        .dragonFace {
          transform: translate(100, 458) scale(0.1, -0.1);
          fill: #000000;
          stroke: none;
          path {
            animation-name: faceMovement;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform-origin: 45% 45% 0;
          }
        }
        .dragonFire1 {
          transform: scale(0.1, -0.1);
          fill: #000000;
          stroke: none;
          path {
            animation-name: flameDisappear;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform-origin: 45% 45% 0;
          }
        }
        .dragonFire2 {
          transform: scale(0.1, -0.1);
          fill: #000000;
          stroke: none;
          path {
            animation-name: flameDisappear2;
            animation-duration: 3.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform-origin: 45% 45% 0;
          }
        }
      }
    }
  }
  iframe {
    align-self: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin-top: 20px;
  }
  .animationFire {
    background-color: transparent !important;
    height: 135px;
    width: 100%;
    display: flex;
    place-content: center;
    animation: flameMovement 2s ease-in-out infinite;
    img {
      display: flex;
      position: absolute;
      width: 100%;
      max-width: 400px;
      min-height: 135px;
      height: 100%;
    }
    .fire1 {
      z-index: 1;
      animation-duration: 2s;
      animation-delay: 1s;
      animation: flameMovement 3.5s ease-in-out infinite;
      opacity: 0.75;
    }
    .fire2 {
      z-index: 2;
      animation-duration: 3s;
      animation-delay: 3s;
      animation: flameMovement 3s ease-in-out infinite;
      opacity: 0.8;
    }
    .fire3 {
      z-index: 3;
      animation-duration: 5s;
      animation-delay: 4s;
      animation: flameMovement 2s ease-in-out infinite;
      opacity: 0.85;
    }
  }
}

#enlaces {
  .linkContainer {
    animation: fade-bottom 0.5s ease-in;
    ul {
      margin-top: 20px;
      li {
        overflow-wrap: break-word;
        margin-bottom: 20px;
      }
    }
  }
}

/******** Footer ********/
footer {
  background-color: #000000;
  color: var(--contrast-color);
  padding: 20px;
  z-index: 9;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      text-align: center;
    }
    li,
    a {
      color: #ffffff;
    }
    a {
      line-height: 1.5rem;
    }
  }
  .bottomFooter {
    margin-top: 15px;
    border-top: 1px solid;
    padding-top: 15px;
    .icon {
      width: 50px;
      svg {
        fill: #ffffff;
        width: 50px;
        height: fit-content;
      }
    }
    .subjectContainer {
      p:first-of-type {
        margin-top: 15px;
      }
    }
  }
}

/******** Responsive ********/
@media only screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    background: linear-gradient(
        rgb(255 255 255 / 45%),
        rgba(255, 255, 255, 0.4)
      ),
      url(./assets/img/map.webp?width=800);
    background-size: cover;
  }
  .detailsContainer {
    flex-direction: row;
    #details {
      width: 75%;
      animation: fade-left 0.5s ease-in;
    }
    #about {
      width: 25%;
      height: fit-content;
      animation: fade-right 0.5s ease-in;
    }
  }
  #responsive {
    display: none !important;
  }
  .header {
    height: 80px;
    span {
      font-size: 1.15rem;
      line-height: 1.5rem;
    }
    #non-responsive {
      display: inline;
      width: 100%;
      ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
        justify-content: center;
        gap: 40px;
        li {
          align-self: center;
          display: flex;
          a {
            text-decoration: none;
            color: #000000;
            text-transform: uppercase;
            padding: 10px 20px;
          }
          :hover {
            background-color: var(--secondary-color);
            border-radius: 4px;
          }
          :active {
            background-color: var(--contrast-color) !important;
            border-radius: 4px !important;
            color: #ffffff;
          }
          .navSelected {
            font-weight: 700;
            border-bottom: 2px solid var(--contrast-color);
          }
        }
      }
    }
  }
  #portada {
    .imgContainer {
      align-self: flex-start;
    }
    .introContainer {
      flex-direction: row;
    }
  }
  #presentacion {
    section {
      animation: fade-bottom 0.5s ease-in;
      iframe {
        width: 540px;
        height: 295px;
      }
    }
  }
  body {
    flex-direction: column;
  }
  footer {
    div {
      display: flex;
    }
    .linksContainer {
      align-items: flex-start;
      ul {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
    }
    .subjectContainer {
      align-items: center;
      flex-direction: column;
    }
  }
}

@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flameDisappear {
  0% {
    transform: translate(3000px, -5000px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(3500px, -5000px);
    opacity: 0;
  }
}

@keyframes flameDisappear2 {
  0% {
    transform: translate(1000px, -6000px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(1500px, -6500px);
    opacity: 0;
  }
}

@keyframes faceMovement {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
